* {
    margin: 0px;
    padding: 0px;
}
  
h1 {
    color: #af3a3a;
  }
  
#galary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
.galary-item {
    width: 30vw;
    height: 50vh;
  }
  
.galary-img, .galary-video, .galary-audio {
    max-width: 100%;
  }